*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    background: rgba(0, 0, 0, 0.18);
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
h1{
    font-weight: 700;
    color: rgb(35,35,85);
}
.navbar{
    z-index: 1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(43deg, #317b64 0%, #a5dbe6 46%, #8b7148 100%)
}
nav img{
    width: 4.69rem;
    height: 4.5vw;
}
nav #logoAnd_name{
    display: flex;
    align-items: center;
}
.navbar-nav{
    margin-left: 2.8rem;
}
nav ul li{
  margin-left: 1.4rem;
}
.nav-link:hover{
  font-weight: 450;
  border-bottom: 1.4px solid black;
}
#w_name{
    color: rgb(35,35,85);
    background: linear-gradient(to right, #0e2598 20%, #2cb406 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    margin-left: 0.5rem;
}
/* _______________________________Main__________________________ */
.slider{
margin-top: 6.25rem;
max-width: 55rem;
height:30rem;
box-sizing: border-box;
background: url(../images/hom_img1r.jpg);
border-radius: 1.1rem;
animation:slide 20s infinite;
}
.slogan{
  text-align: justify;
  border-radius: 1.2rem;
  font-size:xx-large;
  text-decoration: overline;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.65);
}
@keyframes slide{
  25% {
    background: url(../images/hom_img1r.jpg);
  }
  50% {
    background: url(../images/hom_img2rc.jpg);
  }
  75% {
    background: url(../images/hom_img3.jpg);
  }
  100% {
    background: url(../images/hom_img4rc.jpg);
  }
}
  #enter_email{
    font-size: large;
  } 
footer{
  height: 7.3rem;
  padding-top: 1.25rem;
  padding-left: 4.2rem;
  background-color: #56a4d6;
  background-image: linear-gradient(43deg, #169279 0%, #86b4bd 46%, #8b7148 100%);
  
}
.loc {
transform: translateY(-1rem);
}
.loc img{
width: 1.4rem;
height: 1.375rem;
}
.copyright{
  transform: translateY(-1rem);
}
.pro_links{
  transform: translateY(-1rem);
  width: 13rem;
  height: 2rem;
  margin-right: 10%;
  margin-bottom: 2rem;
}
.pro_links img{
  width: 2.18rem ;
  height: 2rem;
}
.pro_links img:hover{
  background: gold;
}
/* __________________________________________________________________________ */
@media (max-width:1000px){
  .nav-link:hover{
    border-bottom: none!important;
  }
  #logoAnd_name img{
    height: 2.2rem;
    width: 2.2rem;
  }
}
@media (max-width:400px){
  footer p{
    font-size: small;
  }
  .pro_links{
    width: 10rem;
    height: 2rem;
  }
  .pro_links img{
    width: 1.18rem ;
    height: 1.2rem;
  }
}
@media (max-width: 675px){
  .slogan{
    display: none;
  }
  .slider{
    height: 70vh;
  }
}
